.conEspacio {
  padding-left: 5px;
}

.sinSubrayado {
  text-decoration: none;
}

.linear-white::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-logo {
  width: 40px;
  height: 40px;
}

.vh-55 {
  height: 55vmin;
}

/* MEDIA QUERIES */

@media screen and (max-width: 375px) {
  .vh-50 {
    height: 50vmax;
  }
  
}
