<footer th:fragment="footer" class="bg-warning text-light py-4" id="footer">
    <div class="container">
        <nav class="row justify-content-center" id="inicio">
            <!--Logo-->
            <a
                href="#inicio"
                class="col-12 col-md-3 text-reset text-uppercase d-flex align-items-center justify-content-center mb-3 mb-md-0 sinSubrayado"
                >
                <i class="fa-solid fa-newspaper"></i>
                <b class="ms-1">Egg</b>
            </a>
            <!--Primer menu-->
            <ul class="col-5 col-md-3 list-unstyled">
                <li class="font-weight-bold text-uppercase"><b>Recursos</b></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 1</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 2</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 3</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 4</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 5</a></li>
            </ul>
            <!--Segundo menu-->
            <ul class="col-5 col-md-3 list-unstyled">
                <li class="font-weight-bold text-uppercase"><b>Enlaces</b></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 1</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 2</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 3</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 4</a></li>
                <li><a href="#" class="text-reset sinSubrayado">Link 5</a></li>
            </ul>
            <!--Redes sociales-->
            <ul class="col-10 col-md-3 list-unstyled">
                <li class="font-weight-bold text-uppercase text-center">
                    <b>Redes sociales</b>
                </li>
                <li class="d-flex justify-content-between p-1">
                    <!--Facebook-->
                    <a href="https://www.facebook.com" class="text-reset">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <!--Twitter-->
                    <a href="https://www.twitter.com" class="text-reset">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <!--Instagram-->
                    <a href="https://www.instagram.com" class="text-reset">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <!--Pinterest-->
                    <a href="https://www.pinterest.com" class="text-reset">
                        <i class="fa-brands fa-pinterest"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
